
@{
    ViewBag.Title = "CheckOut_Success";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
</head>
<body style="text-align:center">
    <h2>Thanh Toán Thành Công</h2>
    <h4>Kiện hàng sẽ đến tay bạn trong 4-7 ngày. Cảm ơn bạn ủng hộ shop.</h4>
    <a href="@Url.Action("Index","Home")">Tiếp tục mua hàng ...</a>
</body>
</html>