<footer>
    <div class="container">
        <div class="wrap-footer">
            <div class="row">
                <div class="col-md-3 col-footer footer-1">
                    <img src="~/Asset/data/images/logobanxe.png" />
                    <p>Là cửa hàng cung cấp điện thoại với phương châm đặt uy tín lên hàng đầu.</p>
                </div>
                <div class="col-md-3 col-footer footer-2">
                    <div class="heading"><h4>Dịch vụ</h4></div>
                    <ul>
                        <li><a href="#">Về chúng tôi</a></li>
                        <li><a href="#">Thông tin chuyển phát</a></li>
                        <li><a href="#">Điều khoản</a></li>
                        <li><a href="#">Hướng dẫn</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-3">
                    <div class="heading"><h4>Tài Khoản</</h4></div>
                    <ul>
                        <li><a href="#">Tài khoản của tôi</a></li>
                        <li><a href="#">Thương hiệu</a></li>
                        <li><a href="#">Ưu đãi</a></li>
                        <li><a href="#">Khuyến mãi</a></li>
                        <li><a href="#">Google Map</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-4">
                    <div class="heading"><h4>Contact Us</h4></div>
                    <ul>
                        <li><span class="glyphicon glyphicon-home"></span>Quận 10, Hồ Chí Minh, Việt Nam</li>
                        <li><span class="glyphicon glyphicon-earphone"></span>+84 345647345</li>
                        <li><span class="glyphicon glyphicon-envelope"></span>MobileShop@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    MobileShop - Designed by Cuong
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <ul>
                            <li><img src="~/Asset/images/visa-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/paypal-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/discover-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/maestro-curved-32px.png" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="~/Asset/js/product/product.js"></script>